.container {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 10%;
}

.userProfile {
    width: 68%;
}

.suggestions {
    width: 30%;
}

.header {
    border-radius: 7px;
    background-color: #ffff;
    border: 1px solid #eae9e7;
    padding-bottom: 2rem;
}