.containerWrap{
    width: 100%;
    border: 1px solid #eae9e7;
    border-radius: 7px;
    background-color: #ffff;
    padding: 1rem;
}

.row {
    display: flex;
    justify-content: flex-start;
}

.imageContainer {
    height: 3rem;
    width: 3rem;
    background-color: var(--red);
    border-radius: 30px;
    align-self: center;
    overflow: hidden;
}

.image {
    height: 3.3rem;
    width: 3.3rem;
    margin-left: -0.15rem;
}

.post{
    border:1px solid #b8b8b8;
    border-radius: 30px;
    width: 100%;
    margin-left: 1rem;
    display: flex;
    padding: 1rem;
    cursor: pointer;
    flex: 1;
}

.post > label {
    color: #838383;
    cursor: inherit;
}

.post:hover{
    background-color: #f5f5f5;
}