.login {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.formItem {
    font-size: 1rem;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.error{
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: 1rem;
}

.error > label{
    width: 50%;
}

.formItem input {
    background-color: rgb(235, 235, 235);
    border: none;
    border-radius: 4px;
    height: 3rem;
    width: 22rem;
    font-size: 1rem;
    margin-left: 0.5rem;
    font-family: inherit;
    padding: 0 0.5rem;
}

.formItem input:hover {
    background-color: rgb(226, 226, 226);
}

.formItem input:focus {
    outline: none;
}

.buttonLogIn {
    width: 100%;
    max-width: 23rem;
    align-self: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    height: 3rem;
    font-size: 1rem;
    background-color: rgba(106, 0, 0, 0.9);
    color: white;
    border: none;
    border-radius: 25px;
    font-family: inherit;
}

.buttonBack {
    width: 100%;
    max-width: 23rem;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 3rem;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    font-family: inherit;
}

.forgotPasswordDiv{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.5rem;
}

.buttonLogIn:hover,
.buttonLogIn:active {
    background-color: rgba(128, 0, 0, 0.9);
}

.registerLink {
    font-size: 0.8rem;
    color: var(--dark-red);
    align-self: center;
}

@media (max-width: 60rem) {
    h1 {
        font-size: 3.5rem;
    }

    .formItem input {
        width: 19rem;
    }

    .error{
        font-size: 0.8rem;
    }
    .error > label{
        width: 70%;
    }
}

@media (max-width: 40rem) {

    .login {
        width: 100%;
        margin-top: 2vh;
        margin-bottom: 15vh;
    }
}


.page {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: white;
}


.image {
    width: 50%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1)), 
        url('../../images/network2.png') right/cover;
    opacity: 0.7;
    height: 100%;
}

@media (max-width: 40rem) {
    .page {
        flex-direction: column-reverse;
    }

    .image {
        width: 100%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1)), 
        url('../../images/network2.png') right/cover;
    }
}