.container {
    border-radius: 7px;
    background-color: #ffff;
    border: 1px solid #eae9e7;
    padding: 1rem;
    margin-top: 0.5rem;
}

.title {
    display: flex;
    justify-content: space-between;
}

.title > h3 {
    font-size: 1.3rem;
}

.titleIcons {
    display: flex;
    justify-content: space-between;
}

.icon {
    color: #4b4b4b;
    width: 1rem;
    height: 1rem;
    padding-left: 1rem;
    cursor: pointer;
}

.icon:hover {
    color: black;
}