.card {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    border-top: 1px solid #eae9e7;
    padding: 1rem;
}

.title {
    font-weight: bold;
    font-size: 0.95rem;
}

.date {
    font-style: oblique;
    font-weight: lighter;
}

.description {
    margin-top: 1vh;
}

.info {
    text-align: left;
    font-size: 0.9rem;
}

.image {
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
    border-radius: 7px;
}