.flexRow {
    margin-top: 5vh;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
}

.info {
    text-align: left;
}

.subtitle {
    font-weight: lighter;
    color: #656565;
    font-size: 1rem;
    margin: 0;
}

.connections {
    color: var(--red);
    font-weight: bold;
    margin-top: 0.5rem;
}

.editIcon {
    width: 3vh;
    height: 3vh;
    color: #4b4b4b;
    cursor: pointer;
}

.editIcon:hover {
    color: black;
}