.login {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h1 {
    font-size: 3.5rem;
}

.formItem {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.formItem input {
    background-color: rgb(235, 235, 235);
    border: none;
    border-bottom: 2px solid #ccc;
    height: 2rem;
    width: 22rem;
    font-size: 1rem;
    margin-left: 0.5rem;
    font-family: inherit;
    padding: 0 0.5rem;
}

.formItem input:focus {
    outline: none;
}

.buttonLogIn {
    width: 50%;
    align-self: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    height: 3rem;
    font-size: 1rem;
    background-color: rgb(53, 108, 145);
    color: white;
    border: none;
    font-family: inherit;
}

.registerLink {
    font-size: 0.8rem;
    color: rgb(36, 72, 97);
    align-self: center;
}

@media (max-width: 60rem) {
    h1 {
        font-size: 3rem;
    }

    .formItem input {
        width: 19rem;
    }
}

@media (max-width: 40rem) {

    .login {
        width: 100%;
        margin-top: 2vh;
        margin-bottom: 15vh;
    }
}