.containerWrap{
    background-color: #ffffff;
    border-radius: 7px;
    height: 100%;
    border: 1px solid #cccccc;
    width: 100%;
}

.containerWrapMessages {
    background-color: #ffffff;
    border-top-left-radius: 7px;
    height: 100%;
    border: 1px solid #eae9e7;
    width: 100%;
    padding-top: 0.5rem;
}

.imageContainer {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    align-self: center;
    background-color: var(--red);
    border-radius: 30px;
    display: inline-block;
}

.image {
    height: 2.1rem;
    width: 2rem;
    margin-right: 0;
    margin-top: 0.2rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eae9e7;
    padding: 0.5rem 1rem;
}

.openCloseButton {
    background-color: transparent;
    border-color: transparent;
    border-radius: 20px;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
}

.openCloseButton:hover {
    background-color: var(--light-grey);
}

.message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #eae9e7;
    height: 6rem;
    cursor: pointer;
    padding: 1rem;
}

.message:hover{
    background-color: var(--light-grey);
}

.content {
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: inherit;
    text-align: start;
    font-size: small;
    color: #616365;
    width: 70%;
    padding-right: 1rem;
}

.content > label {
    cursor: inherit;
}

.buttonIcon {
    color: #4e4e4e;
}

.name {
    color: black;
    font-size: 0.9rem;
}

.date {
    overflow: hidden;
    font-size: small;
    color: #616365;
    cursor: inherit;
}