.containerWrap{
    background-color: #ffffff;
    border-radius: 7px;
    height: 100%;
   border: 0.5px solid #eae9e7;;
   position:sticky;
   bottom: 0;
   padding: 1rem;
}

.img{
    height: 50px;
    width: 50px;
    margin-right: 1rem;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #eae9e7;;
}

.messages{
    display: flex;
    flex-direction: column;
}

.message{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eae9e7;
    margin: 1rem;
    max-height: 4rem;
    cursor: pointer;
}

.message:hover{
    background-color: #f3f2ef;
}

.content{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.content{
    text-align: start;
    font-size: small;
    color: #616365;
    width: 70%;
}

.date{
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-size: small;
    color: #616365;
    cursor: pointer;
}