
.post {
    border-radius: 7px;
    background-color: #ffffff;
    border: 1px solid #eae9e7;
    min-height:100% ;
    margin-top: 1rem;
    padding: 1rem;
    padding-bottom: 0;
}

.postHeader {
    display: flex;
}

.user {
    margin-left: 1rem;
}

.smallText {
    font-size: smaller;
    color: #616365;
    display: flex;
}

.username{
    display: flex;
}

.imageContainer {
    height: 3rem;
    width: 3rem;
    background-color: var(--red);
    border-radius: 30px;
    overflow: hidden;
}

.image {
    height: 3.3rem;
    width: 3.3rem;
    margin-left: -0.15rem;
}

.postImage{
    height: 60vh;
    width: 100%;
}

.likeSection{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.likeIcon{
    color: #616365;
    margin-right: 0.5rem;
    align-self: center;
}

.smallText1{
    font-size: 0.8rem;
    color: #616365;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgb(228, 228, 228);
}

.footerPart{
    width: 33%;
    padding: 0.7rem;
    margin: 0.3rem;
    color:#616365;
}

.footerPart:hover{
    background-color: var(--light-grey);
    cursor: pointer;
}

.footerPart > label {
    margin-left: 0.5rem;
    cursor: inherit;
}

.footerPartReacted {
    background-color: var(--light-grey);
    color: var(--red);
}

.description{
    width: 100%;
    text-align: left;
    padding: 1rem 0;
}

.commentSection {
    margin: 1rem 0;
    font-size: 0.9rem;
}

.createComment{
    width: 100%;
    border: 1px solid #b8b8b8;
    padding: 1rem;
    border-radius: 30px;
    margin-left: 1rem;
    text-align: left;
    
    overflow-x: hidden;
    overflow-y: auto;
}

[contenteditable=true][placeholder]:empty:before{
    content: attr(placeholder);
    color:grey;
    cursor: text;
}

.createComment:focus {
    outline: none;
}

.comment{
    display: flex;
    margin-bottom: 2rem;
    position: relative;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.commentInput:focus{
    outline: none;
}

.commentDiv{
    margin-left: 1rem;
    background-color: #f1f1f1;
    padding: 0.5rem;
    width: 100%;
}

.commentImageDiv{
    display: flex;
    margin: 1rem 0;
}

.commentHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.headerDate {
    font-weight: normal;
    color: gray;
}

.commentConent{
    text-align: start;
    width: 100%;
}

.textarea{
    border:1px solid black;
    min-height: 3rem;
    border-radius: 7px;
    overflow: hidden;
    outline:none;
    width:100%;
    padding: 0.3rem;
    margin-left: 1rem;
    resize: none;
}

.postBtn{
    border-radius: 15px;
    background-color: var(--red);
    color: #ffff;
    width: 5rem;
    border: none;
    height: 2rem;
    cursor: pointer;
}

.postDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -1rem;
}