
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container, html, body {
    height: 100%;
    margin: 0;
}

.main{
    height: 300px;
    background-color: #ffff;
    width: 450px;
    box-shadow: 10px 10px 8px #888888;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    justify-content: space-between;
}

.btnDiv{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnDiv > button{
    margin-top: 1rem;
    border: none;
    height: 2.5rem;
    width: 80%;
    cursor: pointer;
}

.confirm{
    border-radius: 8px;
    color: white;
    font-size: 1.2rem;
    background-color: var(--red);
}

.confirm:hover{
    background-color: var(--dark-red);
    transition: all 0.5s ease-in;
    cursor: pointer;
}

.input{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error{
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-left: 5rem;
}

.input >input{
    width: 80%;
    height: 3rem;
    padding: 0.5rem;
}

.input >input:focus{
    outline:  var(--red);
}

@media only screen and (max-width: 530px) {
    .main {
        max-width: 23rem;
    }

    .headerText{
        font-size: 1.5rem;
    }
  }
