.containerWrap {
    margin: 0 10%;
}

.content{
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.profileSummary {
    width: 20%;
}

.feed{
    width: 45%;
}

.suggestions {
    width: 30%;
}

.messaging {
    width: 25%;
    height: 85vh;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 0.4rem;    
    transform: translateY(calc(85vh - 3.5rem));
}

.transform {
    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;  
    transition: all 1s ease;
}

.transformActive {
    transform: translateY(0);
}

.parts{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.main{
    display: flex;
    justify-content: flex-end;
}

.connect{
    flex: 1;
}

.main >div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
}

.margin{
    margin-top: 1rem;
}

@media only screen and (max-width: 800px) {
    .gap{
        flex: 0;
    }
    
    .feed{
        flex:1;
        width: 100%;
    }
    
    .messaging{
        flex:0;
    }
    .content{
        flex:0;
    }
}