.register {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h1 {
    font-size: 3.5rem;
}

.formItems {
    display: flex;
    margin: 0 2vw;
}

.formItem {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.formItem * {
    background-color: rgb(235, 235, 235);
    border: none;
    border-radius: 4px;
    height: 2rem;
    width: 22rem;
    font-size: 1rem;
    margin-left: 0.5rem;
    font-family: inherit;
    padding: 0 0.5rem;
}

.formItem *:hover {
    background-color: rgb(226, 226, 226);
}

.formItem select {
    color: rgb(109, 109, 109);
}

.formItem *:focus {
    outline: none;
}

.buttonLogIn {
    width: 30%;
    align-self: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    height: 3rem;
    font-size: 1rem;
    background-color: rgba(106, 0, 0, 0.9);
    color: white;
    border: none;
    border-radius: 25px;
    font-family: inherit;
}

.buttonLogIn:hover,
.buttonLogIn:active {
    background-color: rgba(128, 0, 0, 0.9);
}

.registerLink {
    font-size: 0.8rem;
    color: var(--dark-red);
    align-self: center;
}

@media (max-width: 60rem) {
    h1 {
        font-size: 3rem;
    }

    .formItem * {
        width: 19rem;
    }
}

@media (max-width: 40rem) {

    .formItems {
        flex-direction: column;
    }

    .register {
        width: 100%;
        margin-top: 2vh;
        margin-bottom: 6vh;
    }
}