.wrapper{
    display: flex;
    flex-direction: row;
    margin: 2% 20%;
    background-color: #ffffff;
    border-radius: 10px;
    border: 0.5px solid #eae9e7;
}
.imgWrapper{
    width: 20%;
}
.img{
    height: 90px;
    width: 90px;
    margin-right: 1rem;
}
.jobDescription{
    display: flex;
    flex-direction: column;
    padding: 2% 1%;
    align-items: flex-start;
    width: 80%;
}
.jobDescription > h5{
    color: rgb(37, 80, 109);
}
.offerStatus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    font-size: smaller;
    width: 50%;
}
.applicants{
    color: rgb(15, 145, 82);
}